{% extends "log/base.html" %} {% block content %}
<table style="width:100%" border="1">
    <tr>
        <td>Vendor</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
    {% for v in vendors %}
    <tr>
        <td><a href="{{ v.url }}">{{ v.name }}></a></td>
        {% for d in v.data %}
        <td bgcolor="{% if d.num > 0 %}green{% else %}red{% endif %}">{{ d.num }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
