{% extends "log/base.html" %} {% block content %}
<script>
var options = {
    scaleShowGridLines: true,
};
</script>
<ul>
    {% for v in vendors %}
    <li style="display:block; margin-bottom: 30px;">
        <p><a href="{{ v.url }}">{{ v.name }}</a><p>
        <canvas id="chart-{{ v.id }}" width="960" height="100"></canvas>
        <script>
        (function() {
            var ctx = document.getElementById("chart-{{ v.id }}").getContext("2d");
            var data = {
                labels: [0, 1, 2, 3, 4, 5, 6, 7, 8],
                datasets: [{
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [{% for d in v.data reversed %}{{ d.num }}, {% endfor %}]
                }]
            };
            var myLineChart = new Chart(ctx).Line(data, options);
        }());
        </script>
    </li>
    {% endfor %}
</ul>
{% endblock %}
